/* You can add global styles to this file, and also import other style files */
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(images/fondo.jpg);
}

h1 {
  font-family: 'Titan One', cursive;
  color: rgb(39, 34, 12);
}

.table td,
.table th 
{
  padding: 0;
}